WSDL/CommentaireService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://commentaires.cours.coffreo.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://commentaires.cours.coffreo.com/" name="CommentaireServiceService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://commentaires.cours.coffreo.com/"
                        schemaLocation="CommentaireServiceSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="update">
        <part name="parameters" element="tns:update"/>
    </message>
    <message name="updateResponse">
        <part name="parameters" element="tns:updateResponse"/>
    </message>
    <message name="read">
        <part name="parameters" element="tns:read"/>
    </message>
    <message name="readResponse">
        <part name="parameters" element="tns:readResponse"/>
    </message>
    <message name="delete">
        <part name="parameters" element="tns:delete"/>
    </message>
    <message name="deleteResponse">
        <part name="parameters" element="tns:deleteResponse"/>
    </message>
    <message name="create">
        <part name="parameters" element="tns:create"/>
    </message>
    <message name="createResponse">
        <part name="parameters" element="tns:createResponse"/>
    </message>
    <message name="readAll">
        <part name="parameters" element="tns:readAll"/>
    </message>
    <message name="readAllResponse">
        <part name="parameters" element="tns:readAllResponse"/>
    </message>
    <portType name="CommentaireService">
        <operation name="update">
            <input wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/updateRequest"
                   message="tns:update"/>
            <output wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/updateResponse"
                    message="tns:updateResponse"/>
        </operation>
        <operation name="read">
            <input wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/readRequest"
                   message="tns:read"/>
            <output wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/readResponse"
                    message="tns:readResponse"/>
        </operation>
        <operation name="delete">
            <input wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/deleteRequest"
                   message="tns:delete"/>
            <output wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/deleteResponse"
                    message="tns:deleteResponse"/>
        </operation>
        <operation name="create">
            <input wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/createRequest"
                   message="tns:create"/>
            <output wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/createResponse"
                    message="tns:createResponse"/>
        </operation>
        <operation name="readAll">
            <input wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/readAllRequest"
                   message="tns:readAll"/>
            <output wsam:Action="http://commentaires.cours.coffreo.com/CommentaireService/readAllResponse"
                    message="tns:readAllResponse"/>
        </operation>
    </portType>
    <binding name="CommentaireServicePortBinding" type="tns:CommentaireService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="read">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="readAll">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CommentaireServiceService">
        <port name="CommentaireServicePort" binding="tns:CommentaireServicePortBinding">
            <soap:address location="http://localhost:8080/Commentaire/CommentaireServiceService"/>
        </port>
    </service>
</definitions>